<div class="container-fluid" >
    <div class="row">
        <div class="col-md-2 sidebar">
            
        </div>
        <div class="col-md-8 border text-center">
            <img src="../../../assets/imgs/icon1.png" height="300" width="300"/>
            <div class="text-styles">Welcome to MCART</div>
            <p>An Online application for buying Mobiles and Tablets</p>
            <button type="button" class="btn btn-outline-dark mb-2" style="padding: 5px 15px;"
            [routerLink]='["/login"]' routerLinkActive="active">Click here to Login</button> 
        </div>
        <div class="col-md-2 sidebar">
            
        </div>
    </div>
</div>
