<div class="page-center row"> 
  <div class="col-md-5">
      <img [src]="product.imageUrl">

      <div class="mt-4 mb-3">
          <button class="btn btn-primary" (click)="goBack()">Go Back</button>

      </div>
  </div>
  <div class="col-md-7">
      <h5>{{product.productName}}</h5>
      <h6 class="ml-4">by {{product.manufacturer}}</h6>
      <span>
            <ng-template #t let-fill="fill">
                    <span class="star" [class.full]="fill === 100" style="font-size:18px;">
                      <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                    </span>
                  </ng-template>
                  
                <ngb-rating [(rate)]="product.rating" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
      </span>
    <br><br>
      <div><b>Price:</b>{{product.price}}</div>
      <div><b>Description:</b>{{product.description}}</div>
  </div>
</div>
