<html>
  <head>
    <title>Mcart Application</title>
  </head>
  <body>
    <div class="container-fluid bg-color-grey">
      <div class="row">
        <div class="col-md-6 mt-3 mb-4">
          <h5><b>MCART</b></h5>
        </div>
        <div class="col-md-6 mt-3 mb-4">
          <div *ngIf="username == undefined" class="align-right">
            <button type="button" class="btn btn-outline-dark" style="padding: 5px 15px;"
            [routerLink]='["/login"]' routerLinkActive="active" 
            >Login</button>
          </div>
          <div *ngIf="username" class="align-right">
              <b class="mr-3">Hello, {{username}}</b>
              <button type="button" class="btn btn-outline-dark" style="padding: 5px 15px;"
               (click)="logout()">Logout</button>
            </div>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </body>
</html>